# Temporary files
*~
.\#*
\#*\#
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dev
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Other
.DS_Store
venv/
node_modules
bower_components
.webassets-cache
**/static/gen
instance/
*.patch
