include LICENSE
include Procfile
include README.md
include activate
include *.py
include *.txt

recursive-include **/static *
recursive-include **/templates *.html

prune **/static/gen
prune __pycache__
