## -- Flask --
Flask>=0.9
Jinja2>=2.6
Werkzeug>=0.8.3


## -- Assets --
nodeenv>=0.5.3
webassets>=0.7
cssmin>=0.1.4
Flask-Assets>=0.7


## -- HTTP --
# httplib2==0.7.5
# requests==0.13.6
# wsgiref==0.1.2


## -- Tools --
ipython>=0.13
# omnijson==0.1.2
# python-dateutil==2.1
# pytz==2012d
# Flask-Script==0.4.0
# argparse==1.2.1
# Pygments==1.5
# PyYAML>=3.10


## -- Testing --
py>=1.4.9
# Flask-Testing==0.4
# Flask-Zen==0.2
# PyZen==0.3.2
# mock==1.0b1
# tox==1.4.2
# twill==0.9


## -- Python 3 --
# six==1.1.0
