<figure class="ng-cloak">
    <header data-ng-if="chart.header">
        <span data-ng-repeat="line in chart.header track by $index">
            {{line}}<br>
        </span>
    </header>
    <figcaption data-ng-if="caption">
        {{caption}}
    </figcaption>
    <div data-us-spinner class="chart-spinner" data-ng-if="chart.loading"></div>
    <svg class="ng-chart"
         data-ng-if="!chart.loading"
         data-ng-attr-width="{{width}}"
         data-ng-attr-height="{{height}}"
         data-ng-attr-viewBox="{{viewBox}}"
         data-ng-attr-preserveAspectRatio="{{preserveAspectRatio}}"
         data-ng-click="estimate(function)"
         >
        <g class="grid">
            <g class="x-axis">
                <g class="lines">
                    <line data-ng-repeat="v in x.ticks(25)"
                          data-ng-attr-x1="{{x(v)}}"
                          data-ng-attr-x2="{{x(v)}}"
                          y1="0"
                          data-ng-attr-y2="{{height}}"
                          >
                    </line>
                </g>
            </g>
            <g class="y-axis">
                <g class="lines">
                    <line data-ng-repeat="v in y.ticks(40)"
                          data-ng-attr-y1="{{y(v)}}"
                          data-ng-attr-y2="{{y(v)}}"
                          x1="0"
                          data-ng-attr-x2="{{width}}"
                          >
                    </line>
                </g>
            </g>
        </g>
        <g class="chart">
            <path class="line series-{{$index}}" data-ng-attr-d="{{line(serie)}}"
                  data-ng-repeat="serie in chart.series">{{serie}}</path>
        </g>
        <g class="grid">
            <g class="x-axis">
                <g class="labels">
                    <text data-ng-repeat="v in x.ticks(13)"
                          data-ng-attr-x="{{x(v)}}"
                          data-ng-attr-y="{{height}}"
                          dy="1.25em"
                          text-anchor="middle"
                          >
                        {{v}}
                    </text>
                </g>
            </g>
            <g class="y-axis">
                <g class="labels">
                    <text data-ng-repeat="v in y.ticks(20)"
                          data-ng-attr-y="{{y(v)}}"
                          data-ng-attr-x="0"
                          dx="6.75em"
                          dy="0.25em"
                          text-anchor="end"
                          >
                        {{yLabel(v)}}
                    </text>
                </g>
            </g>
        </g>
        <g class="legend" data-ng-if="legend" transform="translate(160, 30)">
            <g data-ng-repeat="serie in chart.series">
                <line class="line series-{{$index}}" x1="0" x2="30" data-ng-attr-y1="{{$index * 1.5 - 0.35}}em" data-ng-attr-y2="{{$index * 1.5 - 0.35}}em"></line>
                <text dx="40" data-ng-attr-dy="{{$index * 1.5}}em">
                    {{serie}}
                </text>
            </g>
        </g>
    </svg>
    <footer data-ng-if="chart.footer">
        <span data-ng-repeat="line in chart.footer track by $index">
            {{line}}<br>
        </span>
    </footer>
</figure>
