//
// Layout

body {
	font-family: $font-set-body;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
	hyphens: auto;
	text-overflow: ellipsis;
}

::selection {
	color: var(--color-text-inverse);
	background-color: var(--color-accent);
}

.minerals {
	padding: 0 $padding-inline;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

nav.navigation {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding-block: 1rem;
	border: clamp(20px, 4vw, 70px) solid var(--nav-bg);
	border-block-color: transparent;
	border-top-width: 2.4vh;
	border-right-width: clamp(20px, 7vw, 70px);

	background-color: var(--nav-bg);
	background-clip: padding-box;
	background-image: linear-gradient(
		0.1turn,
		transparent 19%,
		var(--color-accent) 100%
	);
	color: var(--nav-text);
	font-family: $font-set-headings;
	font-weight: 500;

	@media (prefers-color-scheme: dark) {
		background-image: linear-gradient(
			0.1turn,
			transparent 19%,
			#ffe170 100%
		);
	}

	section.name {
		display: block ruby;
	}

	a {
		color: var(--nav-text);

		&:hover {
			color: var(--hover-text);
		}
	}

	h1 {
		display: inline-block;
		padding-top: 0.5rem;
		font-size: clamp(18px, 6vw, 4rem);
	}
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

@media (min-width: $size-md) {
	.minerals {
		flex-direction: row;
	}

	nav.navigation {
		flex-direction: row;

		h1 {
			padding-top: 1rem;
		}
	}
}
