// Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Hack: Prevent showing purple primary colour through
$color-primary: var(--color-text-inverse);

@import 'milligram/src/_Color';
@import 'milligram/src/_Base';
@import 'milligram/src/_Blockquote';
// @import 'milligram/src/_Button';
@import 'milligram/src/_Code';
@import 'milligram/src/_Divider';
@import 'milligram/src/_Form';
// @import 'milligram/src/_Grid';
@import 'milligram/src/_Link';
@import 'milligram/src/_List';
@import 'milligram/src/_Spacing';
@import 'milligram/src/_Table';
@import 'milligram/src/_Typography';
@import 'milligram/src/_Image';
@import 'milligram/src/_Utility';
