.scale,
.selections {
	display: inline-flex;
	flex-direction: column;
	flex: 1 1 100%;
	gap: 1rem;
	width: 100%;
}

.scale label {
	font-size: 0.8em;
}

.selections label {
	display: flex;
}

@media (min-width: $size-xxs) {
	.scale,
	.selections {
		flex-direction: row;
	}
}

@media (min-width: $size-sm) {
	.scale {
		width: auto;

		label {
			font-size: 1em;
		}
	}

	.selections label {
		display: block;
	}
}
