//
// Typography

i {
	font-family: $font-set-italic;
	font-style: italic,
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-set-headings;
	font-weight: 500;
	margin-block: 1.62rem 1.38rem;
}

h1, h2, h3 {
	line-height: 1.2;
}

@media (min-width: 40rem) {
	h1, h2, h3 {
		hyphens: none;
	}
}

h1 {
	font-weight: 700;
}

a {
	color: var(--color-action);
}

hr {
	border: 10px solid var(--color-action);
}

ul {
	margin-left: 0;
	list-style: '💎';
	padding-left: 1em;
}

li {
	padding-left: 1rem;
}
