//
// Colours

$color-ninhursag: #008cba;
$color-turquoise: #34d5e6;
$color-grey: #606c76;
$color-neon: #f9ffce;
$color-light: #f4f5f6;
$color-white: #f9f9f9;

// Variables

$color-primary: $color-ninhursag;
$color-secondary: $color-grey;
$color-text: $color-grey;
$color-loading: $color-primary;

// Font families
$font-set-body: Quattrocento, Lora, serif;
$font-set-headings: Vesper Libre, Quattrocento, Lora, serif;
$font-set-figures: IBM Plex Sans, sans-serif;
$font-set-italic: Lora, serif;

$loading-bg: $color-light;
$loading-ratio: 62%;

$padding-inline: clamp(20px, 5vw, 50px);
