@use 'sass:color';

$loading-color: #008CBA;
$loading-bg: #fff;
$loading-ratio: 62%;

.loading {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 2rem auto;
    text-indent: -9999em;  // hide text
    border-radius: 50%;
    background-color: $loading-color;
    background: linear-gradient(to right, $loading-color 10%, color.change($loading-color, $alpha: 0) 42%);
    animation: loading 1.4s infinite linear;
    transform: translateZ(0);
}

.loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    background: $loading-color;
}

.loading:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: $loading-ratio;
    height: $loading-ratio;
    margin: auto;
    border-radius: 50%;
    background: $loading-bg;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
