//
// Styles
// --------------------------------------------------

@import 'variables';
@import 'milligram';
@import 'overrides';
@import 'octocat';

// Typography

body {
    font-family: Quattrocento, Lora, serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    background-color: $white-color;
    color: $text-color;
}

main {
    padding: 0 $padding-inline;
}

nav.navigation {
    font-family: Vesper Libre, Quattrocento, Lora, serif;
    font-weight: 500;
    background-color: $light-color;
    color: $text-color;
    border: clamp(20px, 4vw, 70px) solid $primary-color;
    border-block-color: $white-color;
    border-top: 3vh solid $white-color;

    section {
        padding-inline: $padding-inline;
    }

    a {
        color: $primary-color;
    }

    h1 {
        display: inline-block;
        padding: 1rem 0;
        font-size: clamp(18px, 6vw, 4rem);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Vesper Libre, Quattrocento, Lora, serif;
    font-weight: 500;
    margin-block: 1.62rem 1.38rem;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    font-weight: 700;
}

a {
    color: $primary-color;
}

hr {
    border: 10px solid $primary-color;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

ul {
    margin-left: 0;
    list-style: none;
}

#notifications {
    .growl {
        z-index: 3000;
        top: 70px;
    }

    &.in-page .growl {
        position: static;
        width: 100%;
        float: none;
    }

    .growl-container > .growl-item {
        background-position: center;
    }
}

.alert-box {
    padding: 10px;
    padding-right: 35px;
    margin-bottom: 10px;
    cursor: pointer;

    .close {
        right: 0;
        top: 0;
        margin: 0;
        padding: 10px;
    }
}

figure {
    margin: 0;

    figcaption {
        margin: 0.5rem 0 0.75rem;
        font-size: 1.2rem;
        line-height: 1.75rem;
    }
    svg, .chart-spinner {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 240px;
        min-height: 100px;
        padding: 0 40px;
        border: 2px solid #333;
        // outline: 6px double #333;
        // -webkit-box-shadow: 0px 10px 18px 1px rgba(34,34,34,0.46);
        // -moz-box-shadow: 0px 10px 18px 1px rgba(34,34,34,0.46);
        // box-shadow: 0px 10px 18px 1px rgba(34,34,34,0.46);
    }
    svg {
        padding: 1em;

        .grid .labels text,
        .legend text {
            stroke: #fff;
            stroke: rgba(255, 255, 255, 0.8);
            stroke-width: 4px;
            paint-order: stroke;
        }
        .grid line {
            stroke: #eee;
        }
        .chart .line,
        .legend .line {
            fill: none;
            stroke-width: 2px;

            &.series-0 {
                stroke: #222222;
            }
            &.series-1 {
                stroke: #ffaa00;
            }
            &.series-2 {
                stroke: #ff0055;
            }
            &.series-3 {
                stroke: #0088ff;
            }
            &.series-4 {
                stroke: #88ff44;
            }
            &.series-5 {
                stroke: #88ffff;
            }
            &.series-6 {
                stroke: #88f;
            }
            &.series-7 {
                stroke: #999;
            }
            &.series-8 {
                stroke: #34f;
            }
            &.series-9 {
                stroke: #f79;
            }
            &.series-10 {
                stroke: #f3f;
            }
            &.series-11 {
                stroke: #749;
            }
            &.series-12 {
                stroke: #f43;
            }
            &.series-13 {
                stroke: #497;
            }
            &.series-14 {
                stroke: #4f3;
            }
            &.series-15 {
                stroke: #f0f055;
            }
            &.series-16 {
                stroke: #008f8f;
            }
            &.series-17 {
                stroke: #8f8f44;
            }
        }
    }
}

@media (min-width: 40rem) {
    aside {
        max-width: 320px;
    }
}

img.mineral {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 100%;
}

img.electron-conf,
img.chemical-compound,
img.crystal-structure {
    position: absolute;
    top: 2em;
    right: 2em;
}
