# To generate the secret key:
# python -c 'import secrets; print(secrets.token_hex())'

FLASK_ASSETS_DEBUG=true
FLASK_DEBUG=True
FLASK_ENV=development
FLASK_SECRET_KEY=
FLASK_SERVER_NAME="localhost:5000"

FLATPAGES_EXTENSION = ".md"
FLATPAGES_MARKDOWN_EXTENSIONS = "codehilite"  # comma separated values
FLATPAGES_ROOT = "pages/flat"

APP_NAME="Ninhursag (dev)"
