<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">{{ config.APP_NAME }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a data-content="One" href="/one">One</a></li>
      <li><a data-content="Two" href="/two">Two</a></li>
      <li><a data-content="Github" href="https://github.com/peterhil/skeleton">Github</a></li>
    </ul>
  </section>
</nav>
