<h3>Data sources and references</h3>
<ul>
  <li>
    <a href="https://www.usgs.gov/centers/nmic/historical-statistics-mineral-and-material-commodities-united-states">
      U.S. Geological Survey Data Series 140 (in XLSX format)
    </a>
  </li>
  <li>
    <a href="https://www.usgs.gov/centers/nmic/mineral-commodity-summaries">
      USGS Mineral Commodity Summaries
    </a>
  </li>
</ul>

<h4>Other info</h4>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/List_of_top_international_rankings_by_country">
      Wikipedia – List of top international rankings by country
    </a>
  </li>
  <li>
    <a href="https://docs.scipy.org/doc/scipy/reference/stats.html#continuous-distributions">
      Scientific Python statistical functions – continuous distributions
    </a>
  </li>
</ul>
