<!DOCTYPE html>
<html lang="en">
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <title>{% block title %}{% endblock %} &ndash; {{ config.APP_NAME }}</title>

    <link rel="shortcut icon" href="/favicon.ico">

    {%- block styles %}
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400&family=Vesper%20Libre:wght@500;700&family=IBM%20Plex%20Sans:wght@400&family=Lora:ital,wght@0,400;1,400" rel="stylesheet" type="text/css">
    {%- assets "css_app" %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_URL }}" />
    {%- endassets %}
    {%- endblock %}

    {%- endblock %}
  </head>
  <body>
    {%- block navigation %}
    {% include "_menu.html" %}
    {%- endblock %}

    {% block content %}{% endblock %}

    {%- block scripts %}
    {%- endblock %}
  </body>
</html>
