<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head -%}
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %} &ndash; {{ config.APP_NAME }}</title>

    <link rel="shortcut icon" href="/favicon.ico">
    {% assets "css_all" -%}
    <link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_URL }}" />
    {%- endassets %}

    <!--[if lt IE 9]>
    {% assets "js_ie" -%}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets -%}
    <![endif]-->
    {%- endblock %}
  </head>
  <body ng-app="app">
    {% block navigation %}
      {% include "_menu.html" %}
    {% endblock %}
    <div data-growl="true" data-foundation="true" id="notifications" class="container in-page"></div>
    <div id="content" class="container" role="main">
      {% block content %}{% endblock %}
    </div>
    {%- block scripts %}
      {%- assets "js_vendor" %}
      <script src="{{ ASSET_URL }}"></script>
      {%- endassets -%}
      {%- assets "js_main" %}
      <script src="{{ ASSET_URL }}"></script>
      {%- endassets -%}
    {%- endblock %}
  </body>
</html>
