{% extends "base.html" %}

{% block title %}{{ mineral | capitalize }} &ndash; world production{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="row" data-ng-controller="MineralCtrl">
    <div class="small-12 large-9 columns">

      <h1 data-ng-bind="minerals[mineral]">{{ mineral | capitalize }}</h1>

      {# <p class="description">Bauxite is an aluminium ore and is the main source of aluminium.</p> #}

      <div>
        <div class="row">
          <div class="large-4 columns">
            <label>Select mineral
              <select data-ng-options="mineral as src for (mineral, src) in minerals"
                      data-ng-model="mineral">
                <option value=""></option>
              </select>
            </label>
          </div>
        </div>
        <figure data-chart="true"
                data-ng-model="chart"
                data-src="/{{config['DATA_DIR']}}/tsv/ds140-bauxi-Bauxite.tsv"
                data-width="960"
                data-height="660"
                data-caption="Global bauxite production 1900&ndash;2010 (Metric tons gross weight)"
                data-legend="true"
                >
        </figure>
      </div>

    </div>
    <aside class="small-12 large-3 columns">

      <figure>
        <img class="mineral" src="http://upload.wikimedia.org/wikipedia/commons/0/04/BauxiteUSGOV.jpg" />
        <figcaption>
          Bauxite with an U.S. penny
        </figcaption>
      </figure>

      <figure>
        <img class="mineral" src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Aluminium-4.jpg/480px-Aluminium-4.jpg" />
        <figcaption>
          Aluminium
        </figcaption>
      </figure>

      <div>
        <h3>Data sources and references</h3>
        <ul>
          <li><a href="http://minerals.usgs.gov/ds/2005/140/index.html#bauxite">U.S. Geological Survey Data Series 140</a></li>
          <li><a href="http://minerals.usgs.gov/ds/2005/140/ds140-bauxi.xlsx">Bauxite XLS</a></li>
          <li><a href="http://minerals.usgs.gov/minerals/pubs/commodity/bauxite/mcs-2011-bauxi.pdf">Commodity Statistics and Information – Bauxite</a></li>
        </ul>

        <h4>Other info</h4>
        <ul>
          <li><a href="http://en.wikipedia.org/wiki/Bauxite">Wikipedia article</a></li>
          <li><a href="http://en.wikipedia.org/wiki/Bauxite#Production_trends">Bauxite production trends at Wikipedia</a></li>
        </ul>
        <ul>
          <li><a href="http://en.wikipedia.org/wiki/Logistic_function">Logistic function</a></li>
        </ul>

        <a href="index" class="button">« Back to index</a>
      </div>

    </aside>
  </div>

{% endblock %}

{%- block scripts %}
  {%- assets "js_d3" %}
  <script src="{{ ASSET_URL }}" charset="utf-8"></script>
  {%- endassets -%}
  {{ super() }}
{%- endblock %}
