{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block styles %}
{{ super() }}
{% assets "css_all" -%}
<link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_URL }}" />
{%- endassets %}
{% endblock %}

{%- block scripts %}
{{ super() }}
{%- assets "js_vendor" %}
<script src="{{ ASSET_URL }}"></script>
{%- endassets -%}
{%- assets "js_main" %}
<script src="{{ ASSET_URL }}"></script>
{%- endassets -%}
{%- endblock %}
